<div class="col-xs-3">
  <div class="cart_tile">
    <div class="col-xs-4">
      <img class="cart_image" src={{item.image}} alt={{item.name}}>
    </div>
    <div class="col-xs-8">
      <div class="row">
        {{item.name}}
      </div>
      <div class="row">
        HKD: {{item.price}}
      </div>
    </div>
  </div>
</div>
