<div class= "container">
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'store-index'}}My Store{{/link-to}}</li>
          <li><button{{action "showgraph" sales}}>{{#link-to 'sales'}}Sales{{/link-to}}</button></li>
          <li>{{#link-to 'index'}}Change User{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </header>
    {{outlet}}
</div>
