{{#link-to 'customer-index'}}<button class="btn" id="customer_account">Customer Account</button>{{/link-to}}
{{#link-to 'store-index'}}<button class="btn" id="store_account">Store Account</button>{{/link-to}}
