{{store-navbar sales=model.sales}}
<div class="container">
  {{#each model.sales as |sale|}}
    {{sale-tile sale=sale}}
  {{/each}}
  <div class="row">
    <div class="col-xs-4 col-xs-offset-8 title">
      <span class="total_title"> Total Sales: </span> <span class="total_number">${{total-sales model.sales}}</span>
    </div>
  </div>
</div>
{{graph-display sales=model.sales}}
